.container-screenshot{
    width: 185px;
    height: 120px;

    min-width: 150px;
    min-height: 97px;

    max-width: 300px;
    max-height: 195px;

}

.screenshot-left-column{
    margin-right: 8px;

}

.screenshot-right-column{
    margin-left: 8px;

}

.screenshot-left-column,
.screenshot-right-column{
    margin-bottom: 8px;
    border-radius: 8px;
    width: auto;
    height: auto;
}
