.game-view-container{
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-right: 125px;
    padding-left: 125px;
    gap: 55px;
}

.game-details-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.similar-games-container,
.game-details-avatars-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 10px;
}

.reviews-container-x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.game-details-section-info{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
    width: 66%;
    box-sizing: border-box;
}

.game-details-section-info-title{
    display: flex;
    flex-direction: row;
}

.game-details-section-images{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 90vh;
    padding-top: 20px;
    gap: 15px;
    align-items: center;
}

.game-details-section-images-trailer{
    display: flex;
}

.game-details-section-images-screenshots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.game-details-section-info-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.game-details-section-info-item-title{
    margin-right: 8px;
}

.game-details-section-info-title,
.game-details-section-info-item-title,
.game-details-section-info-item-value{
    color: white;
}

.game-details-section-info-description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.game-details-section-info-review{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}



.similar-games{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game-additional-details-social{
    display: flex;
    flex-direction: column;

}

.slider{
    width: 200px;
}