.container-screenshot{
    width: 185px;
    height: 120px;
}

.screenshot-left-column{
    margin-right: 8px;

}

.screenshot-right-column{
    margin-left: 8px;

}

.screenshot-left-column,
.screenshot-right-column{
    margin-bottom: 8px;
    border-radius: 8px;
}

@media (max-width: 1600px){
    .container-screenshot{
        width: 152px;
        height: 97px;
    }
}

@media (max-width: 1000px){
    .container-screenshot{
        width: 120px;
        height: 77px;
    }
}
