.game-view-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-right: 125px;
    padding-left: 125px;
}

.game-details-container{
    display: flex;
    flex-direction: row;
}
.similar-games-container,
.game-details-avatars-section{
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 15px;
}

.game-details-section-info{
    display: flex;
    flex-direction: column;
    height: 125vh;
    padding-top: 20px;
    padding-left: 15px;
    width: 66%;
}

.game-details-section-info-title{
    display: flex;
    flex-direction: row;
}

.game-details-section-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 90vh;
    padding-top: 20px;
    padding-left: 50px;
}

.game-details-section-images-trailer{
    display: flex;
    width: 500px;
    height: 300px;

}

.game-details-section-images-screenshots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
}


.game-details-section-info-section{
    display: flex;
    flex-direction: row;
}

.game-details-section-info-item-title{
    margin-right: 8px;
}

.game-details-section-info-title,
.game-details-section-info-item-title,
.game-details-section-info-item-value{
    color: white;
}

.game-details-section-info-description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.game-details-section-info-review{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.price-history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.price-history-graph{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similar-games{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game-additional-details-social{
    display: flex;
    flex-direction: column;
}