#container-login{
    display: flex;
    flex-direction: row;
    height: 90.5vh;
    margin-top: 9.5vh;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
}

.container-login__column-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 0 4.3vw 4.3vw;
    gap: 3em;
    box-sizing: border-box;
}

.container-login__column-left__content{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container-login__column-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 4.3vw 4.3vw;

}

.container-login__column-right__section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.container-login__column-right__section-2{
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 1vh;
}

.container-login__column-right__section-2__up{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
}

.container-login__column-right__section-2__down{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.container-login__column-right__section-2-img{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://media.rawg.io/media/games/ac7/ac7b8327343da12c971cfc418f390a11.jpg");
    background-size: 100% 100%;
    border-radius: 5%;
    height: 80%;
    width:  25%;
}

.container-login__column-right__section-2-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    padding-left: 3vw;
    box-sizing: border-box;
}


#login-section-title{
    margin-bottom: 0;
}

.login-section-subtitle{
    margin-top: 0;
}

#login-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.form-input{
   margin: 10px 0;
}

#form-login-button{
    margin: 20px 0;
}

.button-login.MuiButton-root{
    height: 48px;
    width: 375px;
    border-radius: 35px;
}

.login-alternative-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.login-alternative-button.MuiButton-root{
    border-radius: 35px;
    height: 48px;
    width: 90px;
}


.login__row-1__section-2{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;

}


.login-input{
    height: 50px;
    width: 375px;
    border-radius: 8px;
    border-width: 1px;
    margin: 10px auto;
}


.login-ok-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    margin: 30px auto;
}

.not-visible{
    opacity: 0;
    pointer-events: none;
}


.button-secondary-login{
    border-radius: 35px;
    width: 6.5em;
    height: 3em;
}

.text-description{
    margin: 0 0;
}

.description-title{
    margin-top: 0;
}

@media (max-width: 1000px){
    .login-input{
        height: 3.3em;
        width: 14em;
    }
}

@media (max-width: 768px){
    .container-login__column-right{
        display: none;
    }
}

@media (max-width: 768px){
    #container-login{
        justify-content: center;
    }
}