.carousel{
    width: 95%;
    height: 75%;
    background-image: url("https://media.rawg.io/media/screenshots/75b/75b04439f728fa38cc16e59515a4d66d.jpg");
    background-size: 100% 100%;
    border-radius: 20px;
}