.game-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.game-card-image{
    width: 300px;
    height: 175px;
    background-image: url("https://media.rawg.io/media/screenshots/75b/75b04439f728fa38cc16e59515a4d66d.jpg");
    background-size: cover;
    border-radius: 15px;
    transition: transform 0.5s ease-out;
}

.game-card-image:hover{
    transform: scale(1.05);
}

.game-name {
    color: black;
}

.game-icon {
    color:black;
}

.game-card-button{
    margin-bottom: 10px;
}
