.game-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.game-card-image{
    width: 300px;
    height: 175px;
    background-image: url("https://media.rawg.io/media/games/a5a/a5a7fb8d9cb8063a8b42ee002b410db6.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.5s ease-out;
}

.game-card-button{
    margin-bottom: 10px;
}
