.header-container{
    display: flex;
    flex-direction: column;
}

.header-search{
    width: 100%;
    height: 90px;
    position: fixed;
    margin-top: 90px;
    display: none;
    flex-direction: row;
    align-items: center ;
    justify-content: space-around;
}

.header-search-visible{
    display: flex;
}

.header{
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Jazz LET, fantasy;
    font-size: 22px;
    z-index: 10;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-icon{
    font-size: 22px;
}

.search-bar-input{
    width: 85%;
    height: 40px;
    font-size: 25px;
    font-family: Jazz LET, fantasy;
    border:none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.search-bar-input::placeholder{
    color: white;
}

#search-icon{
    cursor: pointer;
}

#close-icon{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

li{
    list-style: none;
}

a{
    margin: 0 15px;
    text-decoration: none;
    color:white;
}

i{
    margin: 0 10px;
    color:white;
}


