.profile-column-header{
    display: flex;
    flex-direction: column;
}

.user-avatar{
    height: 200px;
    width: 200px;
    background-image: url("https://media.rawg.io/media/games/bf7/bf73b105ccbba42107986bbcd96fcada.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 15px auto;
}

.userName-label{
    margin: 0 auto;
}

.progress-bar{
    margin: 2.5px auto;
}

.level-paragraph{
    margin: 2.5px auto;
    font-size: large;
}

.profile-container-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4px;
}

.genre-button{
    height: 30px;
    width: 80px;
    font-family: Jazz LET, fantasy;
    font-size: medium;
    border-radius: 0;
    margin: 5px 2px;
}