.header-profile-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    margin-left: 40px;
    cursor: pointer;
}

.header-profile-item:hover{
    background-color: whitesmoke;
}

.header-profile-item:hover > *{
    color:black;
}

.profile-bar-icon{
    font-size: 22px;
}

.profile-bar-item-label{
    font-size: 25px;
    margin-left: 55px;
    cursor: pointer;
}

