.carousel{
    background-color: blue;
    height: 150px;
    width: 150px;
    text-align:center;
    align-items: center;
    border-radius: 50%;
    margin: auto 15px;
    overflow: hidden;
    z-index: 100;

}

.c1{
    margin-top: 80px;
    display: flex;
}



.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;

}

.modal-content__platforms{
    display: flex;
    width: 50%;;
    flex-wrap: wrap;
    gap: 10px;
}

