.user-component-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 66px;
    gap: 14px;
    padding-bottom: 25px;
}

.user-component-container-info{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    font-weight: bold;
}


.user-component-container-info > p {
    margin: 0;
    padding: 3px 0;
}


.user-component-container-button {
}


