.price-text{
    margin-top: 8px;
    font-size: large;
    color: silver;
}

.avatar-name{
    font-size: large;
}

.color-white{
    color: whitesmoke;
}

.color-black{
    color: black;
}

.avatar-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    margin: 10px 20px;
    border-radius: 25%;
}

.avatar:hover{
    cursor: pointer;
    filter: grayscale(0%);
}

.avatar-container{
    display: flex;
    flex-direction: column;
}

.gray-scale{
    filter: grayscale(100%);
}

@media (max-width: 1600px){
    .avatar{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1000px){
    .avatar{
        width: 100px;
        height: 100px;
    }
}