
.profile-content{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.8));
    background-size: 100% 100%;
    padding-left: 25px;
}

.column-container{
    width: 25%;
}

.profile-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 100px;
    height: 90vh;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

.menu-container-row-1{
    display: flex;
    flex-direction: row;
}

.menu-container-row-2{
    display: flex;
    flex-direction: row;
}
