.container-games{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.container-title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.games-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 1100px;
}

.game-card-medium-container{
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 330px;
    margin: 8px 8px;
}

.games-section-title{
    font-size: xxx-large;
    color: black;
    margin-bottom: 40px;
}

@media (max-width: 1600px){
    .game-card-medium-container{
        width: 332px;
        height: 120px;
    }
}

@media (max-width: 1000px){
    .game-card-medium-container{
        width: 100px;
        height: 100px;
    }
}


