.header-container{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 9.5vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Jazz LET, fantasy;
    font-size: 22px;
    z-index: 10;
}

.header-search{
    width: 100%;
    height: 9.5vh;
    position: fixed;
    margin-top: 9.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
}

.header-profile{
    width: 100%;
    height: 19vh;
    position: fixed;
    margin-top: 9.5vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
}

.header-profile-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 9.5vh;
    cursor: pointer;
    margin-left: 4.3vh;
    margin-right: 4.3vh;
    position: relative;
}
#header-profile__logout,
#header-profile__login,
#header-profile__signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 9.5vh;
    cursor: pointer;
    margin-left: 4.3vh;
    margin-right: 4.3vh;
    position: relative;
}

.header-profile-link{
    width: 100vw;
}

.header-profile-label{
    font-size: 25px;
    cursor: pointer;
    padding-left: 2vw;
}


.header-reviews{
    width: 100%;
    height: 31.5vh;
    position: fixed;
    margin-top: 9.5vh;
    display: none;
    flex-direction: row;
    pointer-events: none;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.header-games,
.header-shop{
    width: 100%;
    height: 31.5vh;
    position: fixed;
    margin-top: 9.5vh;
    display: none;
    flex-direction: column;
    pointer-events: none;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

#list{
    padding: 0 0;
    margin: 0 0;
}

.list-item{
    margin: 0 15px;
    height: 90px;
}
.header-reviews-visible,
.header-games-visible,
.header-shop-visible{
    display: flex;
    pointer-events: auto;
}

.avatars-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-games-container{
    display: flex;
    flex-direction: row;

}


#login-label{
    //padding-right: 91%;
}

.header-search-visible,
.header-profile-visible{
    opacity: 1;
    pointer-events: auto;
}

.header:hover{
    background-color: whitesmoke;
}

.cursor-on-header{
    background-color: whitesmoke;
}

.color-black{
    color: black;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-icon{
    font-size: 22px;
}

.search-bar-input{
    width: 85%;
    height: 40px;
    font-size: 25px;
    font-family: Jazz LET, fantasy;
    border:none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.search-bar-input::placeholder{
    color: white;
}

#search-icon,
#profile-icon{
    cursor: pointer;
}

#search-bar-close-icon{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

li{
    list-style: none;
}

a{
    margin: 0 15px;
    text-decoration: none;
    color:white;
}

i{
    margin: 0 10px;
    color:white;
}

#profile-active-icon{
    cursor: pointer;
}


