
.card-section-1{
    width: 415px;
    height: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-section-1-border-card-section-2-not-visible{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-section-1-border-card-section-2-visible{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.game-card-image{
    width: 415px;
    height: 210px;
    background-size: cover;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    margin-bottom: 15px;
}


.card-section-1-data{
    display: flex;
    flex-direction: column;
}

.card-section-2{
    width: 415px;
    height: 210px;
    background-color: white;
    display: none;
    pointer-events: none;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10;
}

.card-section-2-visible{
    display: flex;
    pointer-events: auto;
}

.card-section-2-row{
    display: flex;
    flex-direction: column;
}